<h2><%= @power.name %></h2>
<p>Description: <%= @power.description %></p>

<% if @power.heroines.any? %>
  <p>Heroines Who Possess This Power:</p>
  <ul>
    <% @power.heroines.each do |heroine| %>
      <li><%= link_to heroine.super_name, heroine %></li>
    <% end %>
  </ul>
<% else %>
  <p>Heroines Who Possess This Power: None.</p>
<% end %>

<p><%= link_to "Back to All Powers", powers_path %></p>
