<h2><%= @heroine.super_name %></h2>
<h3>True Identity: <%= @heroine.name %></h3>
<p>Special Power: <%= link_to @heroine.power.name, @heroine.power %></p>
<br /><br />
<%= link_to "see all heroines! KABLAM!", heroines_path%>
